 <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>

 <h1>{{ title }}</h1>
      <table class="col-md-5 my-3 p-4">
        <thead>
          <tr>
            <th class="text-center">FirstName</th>
            <th class="text-center">LastName</th>
            <th class="text-center">Age</th>
          </tr>
        </thead>
      <tbody>
        <tr  *ngFor="let People of data;">
          <td class="text-center p-2">{{People.FirstName}}</td>
          <td class="text-center p-2">{{People.LastName}}</td>
          <td class="text-center p-2">{{People.Age}}</td>
        </tr>
      </tbody>
    </table>


    <div class="my-3 ps-2 p-4">
      <label class="fs-4">Choose color :-</label>
      <select>
        <option>select</option>
        <option>Red</option>
        <option>Blue</option>
        <option>Green</option>
        <option>Yellow</option>
      </select>
    </div>
    



