<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>

<div class="row">
    <div class="col text-left col-md-5 p-2">
        <!-- <span class="fs-3">ViewChild</span> -->
        <h1>@ViewChild</h1>
    </div>
  </div>
  
  <div class="col-md-5 ps-3">
    <div class="row">
      <label>DOB:</label>
      <input type="date" #dobInput (blur)="calculateAge()">
    </div>
    <div class="row">
      <label>Age:</label>
      <input type="text" #ageInput>
    </div>
