<div class="container">
  <div class="row">
    <div class="col-md-12 p-6">
  <app-users></app-users>
</div>
</div>
</div>

<h1>{{ title }}</h1>

      <table class="col-md-4">
        <thead>
          <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Age</th>
          </tr>
        </thead>
      <tbody>
        <tr  *ngFor="let People of data;">
          <td>{{People.FirstName}}</td>
          <td>{{People.LastName}}</td>
          <td>{{People.Age}}</td>
        </tr>
      </tbody>
    </table>
  
    


